.card{
    display: flex;
    align-items: center;
    gap: 30px;
    
    
}
.table{
    overflow:auto;
    white-space: nowrap;
    
}
.scrollableContainer {
    position: relative;
    width: 100%;
    overflow: hidden;
    margin-top: -35px;
  }
.table::-webkit-scrollbar{
    display: none;
}
h2{
    color: #fff;
    padding-left: 2rem;
    
    
}

.myID{
    color: #fff;
}
.iframe{
    width: 560px; 
    height: 315px;
    border:0px;
}

.scrollLeft{
    position: sticky;
    top: 185px;
    left: -1400px;
    height: 65px;
    width: 65px;
    margin-bottom: -25px;
    border: none;
    cursor: pointer;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.5);
}
.scrollRight{
    position: sticky;
    bottom: 185px;
    left: 1400px;
    height: 65px;
    width: 65px;
    margin-bottom: -25px;
    border: none;
    cursor: pointer;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.5);

}

.next{
    font-size: 60px;
}

