.navWrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100vw;
    padding: 1rem 4rem;
    position: sticky;
    top:0;
}
.netflixLogo{
    width: 160px;
}
.navWrapper .navLeft{
    display: flex;
    align-items: center;
    gap: 30px;
}

.navWrapper .navLeft div h1{
    color: red;
    font-size: 32px;
}

.navWrapper .navLeft div a{
    text-decoration: none;
    padding-right: 16px;
    color: #fff;
}
.navWrapper .navLeft div a:focus{
    font-weight: bold;
}

.profile-icon{
    width: 18px;
    height: 16px;
}

.navWrapper .navRight{
    display: flex;
    align-items: center;
    gap: 20px;
}

.navWrapper .navRight a{
    text-decoration: none;
    /* padding-right: 16px; */
    color: #fff;
    

}