.profile-icon{
    width: 18px;
    height: 16px;
}
.bottomContainer{
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding: 1.2rem 2rem; 
}
.bottomContainer div{
    display: flex;
    flex-direction: column;
    gap: 4px;
    align-items: center;
}
.bottomNavTitle{
    text-decoration: none;
    color: #fff;
    font-size: small;
}
.bottomIcon{
    color: #fff;
}