.mHContainer {
    background-color: rgb(37, 5, 5);
    padding: 1rem;
}

.mHContainer .mHImage {
    background: url("https://occ-0-5543-299.1.nflxso.net/dnm/api/v6/6AYY37jfdO6hpXcMjf9Yu5cnmO0/AAAABRsetIvjfEjF1NjADBFoYyaln0rPhcAqetVs107OlWIVO1XODfvVT9FsUSysxWe9zS6XxmlvggYyeqgfy4PA2e3-puzRLox-Cx2-.webp?r=32a")center -80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 50vh;

}

.mHImageTitle {
    width: 240px;
    margin-top: 140px;
}
.mHContainer .mHImage .genre{
   /* padding: 0 12px; */
   text-align: center;
}

.genre ul {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 12px 0;
    list-style: none;
}

.genre ul li {
    color: white;
}

.mHContainer .mHImage .genre .buttoncontainer .playWrapper {
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: #fff;
    padding: 4px 20px;
    border-radius: 8px;
    border: 1px solid #fff;
}
.mHContainer .mHImage .genre .buttoncontainer .playWrapper .play{
    color: #000;
 background-color: #fff;
 border: none;
 /* width: 40px; */
}
.mHContainer .mHImage .genre .buttoncontainer {
    display: flex;
    align-items: center;
    gap: 8px;
}