*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.homeConatainer{
    background: url("https://assets.nflxext.com/ffe/siteui/vlv3/9f46b569-aff7-4975-9b8e-3212e4637f16/3bdef7cc-09d3-4923-bad6-7e2d7ec6c1d1/NG-en-20240415-popsignuptwoweeks-perspective_alpha_website_medium.jpg"); 
    max-width: 100vw;
    height: 89vh;
    overflow-x: hidden;
    padding: 0;
    margin: 0;

}


.homeConatainer .homeWrapper{  
    height: 89vh;
    background: rgb(0 0 0 / 40%);
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.8) 0, rgba(0, 0, 0, 0) 60%, rgba(0, 0, 0, 0.8) 100%); 
    display: flex;
    flex-direction: column;
    gap: 20vh;

}
.homeConatainer .homeWrapper .header{
    display: flex;
    justify-content: space-between;
    padding: 2rem 4rem;
    align-items: center;
}
.homeConatainer .homeWrapper .header .netflixLogo{
    width: 160px;
}
.homeConatainer .homeWrapper .header .headerRight{
    display: flex;
    gap: 16px;
}
.homeConatainer .homeWrapper .header .headerRight a .btnSignin{
    padding: 14px 16px;
    background-color: red;
    color: #fff;
    font-size: large;
    border: 1px solid red;
    border-radius: 4px;

}
.homeConatainer .homeWrapper .centerBody{
display: flex;
flex-direction: column;
align-items: center;
gap: 16px;
}

.homeConatainer .homeWrapper .centerBody .heading{
    color: #fff;
    font-size: 3rem;
    font-weight: 900;
}

.homeConatainer .homeWrapper .centerBody .watch{
color: #fff;
font-size: 1.5rem;
font-weight: 400;
}

.homeConatainer .homeWrapper .centerBody .ready{ 
font-size: 1.25rem;
font-weight: 400;
line-height: 1.5;
color: #fff;
}

.homeConatainer .homeWrapper .centerBody .centerDown{
    display: flex;
    align-items: center;
    gap: 8px;
}

.homeConatainer .homeWrapper .centerBody .centerDown .mail{
    display: flex;
    flex-direction: column;
    font-size: 0.75rem;
    font-weight: 400;
    line-height: 1.5;
    color: rgba(255, 255, 255, 0.7);
    padding: 8px;
    border: 1px solid green;
    border-radius: 8px;

}
.homeConatainer .homeWrapper .centerBody .centerDown .mail input{ 

    background-color: transparent;
    outline: none;
    color: #fff;
    width: 400px;
    border: none;
}


.homeConatainer .homeWrapper .centerBody .centerDown .getStartedBtn{
    background-color: red;
    color: #fff;
    padding: 8px;
    border-radius: 8px;
    border: none;
    display: flex;
    align-items: center;
    
}

.homeConatainer .homeWrapper .centerBody .centerDown .getStartedBtn button{
    background-color: red;
    padding: 2px 8px;
    border: none;
    color: #fff;
    font-size: 1.5rem;
    font-weight: 500;

}


.loading{
    width: 3rem;
    height: 3.75rem;
    outline: 2px solid rgb(0, 0, 0);
    outline-offset: -2px;
    display: block;
    background: url(https://assets.nflxext.com/ffe/siteui/acquisition/ourStory/fuji/desktop/download-icon.gif) center center no-repeat;
}

.watch{
    display: flex;
    align-items: center;
    gap: 8%;
    background-color: #000;
    color: #fff;
    padding: 0 8rem;
    border-top: 8px solid rgb(35, 35, 35);
    border-bottom: 8px solid rgb(35, 35, 35);
    
}
.watch .watchWapper h2{
    padding: 0 0 8px 10rem;
    margin: 0;
}
.watch .watchWapper h5{
    padding-left: 10rem;
}

.watch .watchVideo .playVideo{
    /* position: absolute;
    top: 100%;
    bottom: 30%;
    left: 47%; */
    /* max-width: 73%; */
    position: relative;
    bottom: 390px;
    left: 80px;
    width: 480px;
    margin-bottom: -270px;
    height: 270px;
    
   
}
/* .watch .watchVideo .playVideo{
    z-index: -1;
    overflow: hidden;
    width: 100%;
    height: 100%;
    max-width: 73%;
    max-height: 54%;
    position: absolute;
    left: 20px;
    position: absolute;
    top: 46%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
} */

.strangerWrapper { 
   display: flex;
   align-items: center;
   gap: 4rem;
   padding: 6rem 8rem;
   background-color: #000;
   color: #fff;
   border-bottom: 8px solid rgb(35, 35, 35);
}
.strangerWrapper .download h2{
    font-size: 32px;
    line-height: 2rem;
    margin: 0;
    padding: 0 0 8px 0;
}

.stranger {
    display: flex;
    gap: 12px;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: #000;
    width: 350px;
    height: 120px;
    border: 2px solid rgba(128, 128, 128, 0.7); 
    border-radius: 14px;
    color: #fff;
    position: relative;
    bottom: 160px;
    left: 140px;
    margin-bottom: -120px;
   
    
    
    
}
.stranger img{
    height: 90px;
}

.stranger div p a{
    color: #0071eb;
    text-decoration: none;
}

.watchEverywhere{
    display: flex;
    align-items: center;
    justify-content: center;
    gap:12px;
    background-color: #000;
    color: white;
    padding: 8rem 10rem;
    border-bottom: 8px solid rgb(35, 35, 35);

}
.watchEverywhere .watchContent{
    width: 420px;
}

.watchEverywhere .watchContent h1{
    font-size: 42px;
    font-weight: 900;
    padding-bottom: 12px;
    
}

.watchEverywhere .content2{
    width: 420px;
    
    
}
.watchEverywhere .content2 h2{
    visibility: hidden; 
}

.watchEverywhere .content2 p{
    visibility: hidden;
}
.profileWrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #000;
    color: #fff;
    padding: 4rem 6rem;
    border-bottom: 8px solid rgb(35, 35, 35);
}
.profileWrapper .createProfile h2{
    margin: 0;
    padding: 16px 0;

}
/* .profileWrapper .createProfile{
    width: 350px;
} */
.faq{
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 4rem 10rem;
    background-color: #000;
    color: #fff;
    border-bottom: 8px solid rgb(35, 35, 35);
}
.faq h2{
    text-align: center;
    padding-bottom: 20px;
}
.faq .question{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px 20px; 
    background-color: rgb(65, 65, 65);
}
.questionWrapper .answer{
    padding: 16px 20px; 
    background-color: rgb(65, 65, 65);
    margin-top: 2px;
}

.center{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:20px;
    padding: 24px 0;
}